[submodule "dnsmasq-dhcp-server"]
	path = dnsmasq-dhcp-server
	url = https://github.com/f18m/ha-addon-dnsmasq-dhcp-server
[submodule "dnsmasq-dhcp-server-beta"]
	path = dnsmasq-dhcp-server-beta
	url = https://github.com/f18m/ha-addon-dnsmasq-dhcp-server
    branch = beta
